<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="true" destination="http://localhost:63342/shop-sales-analysis-markup/src/mobile/template/detail/sales/sales-all.html?_ijt=mhiu4sl94fh302h9ks9lprddab" exactDestination="true" />
    </system.webServer>
</configuration>
