<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="true" destination="http://127.0.0.1:5500/pages/index.html#main" exactDestination="true" />
        <rewrite>
            <rules>
                <rule name="test">
                    <match url="^(,*)$" />
                    <action type="Rewrite" url="http://www.naver.com" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
