/* ---------------------------------------------------
// footer (base)
--------------------------------------------------- */
#footer {
  position: relative;
  background: #34353a;
  color: #55565a;
  overflow:hidden;

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a,
  .footer-copy {
    color: #ebecee;
    font-size:1.4rem;
  }

  button {
    color: #ebecee;
    background: none;
    border: 0;
  }
  .content-zone{
    position: relative;
  }

}

@media screen and (min-width: #{$web_size}) {
  #footer {
    min-width:1200px;
  }
}

.footer-link {
  border-bottom: 1px solid #45464a;
  text-align:center;
  padding-top:2rem;
  padding-bottom:2rem;  

  ul {
    display: block;
    padding-left: 10rem;

    li {
      display: inline-block;
      line-height: 1.5;
      padding: 0 1rem !important;
      a, button{
        margin:0;
        padding:0;
      }
      &::before{
        content: '';
        @extend %sp-bar;
        margin-right:2rem;
      }      

      &:first-child::before{
        content: '';
        width:0;
      }
    }
  }
}


.footer-logo {
  float:left;  
  width:20%;
  padding-top: 6%;
  text-align:center;
  vertical-align:top;
  img{
    width:90%;
    max-width: fit-content;
  }
}

.footer-copy {
  float:right;  
  width:80%;
  padding: 6%;

  span,
  p {
    line-height: 1.5;
    font-family: 'light';
    margin:0;
  }

  p {
    //padding-top: 2px;
  }
}



