/* ---------------------------------------------------
// footer
--------------------------------------------------- */
.footer {
  position: relative;
  overflow: hidden;
  background: #34353a;
  color: #55565a;
}

// ---------------------------------------------------
// footer 링크영역
.footer-link {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #45464a;
  text-align: center;

  @media screen and (min-width: #{$tab_size}) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.footer-link-group {
  display: block;
  @media screen and (max-width: #{$mob_size}) {
    padding-left: 0
  }
}

.footer-link-item {
  display: inline-block;
  padding: 0 10px;
  margin: 0;
  line-height: 1.5;
}

.footer-link-item-a,
.footer-link-item-a:link,
.footer-link-item-a:visited,
.footer-link-item-a:hover,
.footer-link-item-a:active {
  margin: 0;
  padding: 0;
  color: #ebecee;
  font-size: 11px;

  @media screen and (min-width: #{$tab_size}) {
    font-size: 14px;
  }
}

// 세로선
.footer-link-item {

  @media screen and (max-width: #{$mob_size}) {
    padding: 0 5px
  }
  
  &:before {
    content: '';
    @extend %sp-bar;
    margin-right: 20px;

    @media screen and (max-width: #{$mob_size}) {
      margin-right: 10px
    }
  }
}

// 세로선 중 웹에서 선 없애는 용도
.footer-link-item.web-no-line {
  &::before {
    width: 0
  }
}

// 세로선 중 모바일에서 선 없애는 용도
.footer-link-item.mobile-no-line {
  &::before {
    @media (max-width: 992px) {
      width: 0
    }
  }
}

// ---------------------------------------------------
// footer 로고
.footer-logo {
  float: left;
  width: 20%;
  vertical-align: top;
  padding-top: 30px;
  text-align: center;

  @media screen and (min-width: #{$tab_size}) {
    padding-top: 40px;
    text-align: right;
  }
}

.footer-logo-a {
  display: block
}

.footer-logo-img {
  width: 90%;
  max-width: fit-content;
  max-width: fit-content
}

// ---------------------------------------------------
// footer 카피
.footer-copy {
  float: right;
  width: 80%;
  padding: 30px 0 30px 20px;
  color: #ebecee;
  font-size: 11px;

  @media screen and (min-width: #{$tab_size}) {
    font-size: 14px;
    padding-left: 50px;
  }
}

.footer-copy-line {
  margin: 0;
  font-family: 'light';
  line-height: 1.5;
}
