// 모바일 내비가 켜질때 body에 추가
.html-fix {
  overflow: hidden;
  height: 100%;
}

// 모바일 헤더와 웹헤더 변환
.header-web {
  @media screen and (max-width: #{$tab_size}) {
    display: none;
  }
}

.header-mobile {
  @media screen and (max-width: #{$tab_size}) {
    display: block;
  }
}

// 햄버거를 누르면 active
.header-mobile.active {
  overflow-y: scroll;
  height: 100%;

  .header-mobile-roll {
    height: auto;
    transition: 0.3s ease-out;
  }
}
