/* ---------------------------------------------------
// mobile
--------------------------------------------------- */
.header-mobile {
  display: none;
  //overflow-x: hidden;
  //overflow-y: auto;
  position: fixed;
  z-index: 80;
  top: 0;
  left: 0;
  width: 100%;
  //height: 100%
}

.header-mobile-top {
  position: relative;
  z-index: 1;
  height: 60px;
  border-bottom: 1px solid #d9d9d9;
  background: #fff
}


// 로고
.site-logo-m {
  padding: 22px 0;
  text-align: center
}

.site-logo-m-a {
  display: inline-block
}

.site-logo-m-img {
  width: 105px;
}

// ---------------------------------------------------
.notice-alam-m {
  position: absolute;
  z-index: 130;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: #fff;
  text-align: center;
  -webkit-appearance: none;
  transform: scale(0.6)
}

.notice-alam-m-a {
  display: block
}

.notice-alam-new {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #0066b4;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px
}

// ---------------------------------------------------
// 메뉴버튼
.nav-toggle-m {
  position: absolute;
  z-index: 130;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: #fff;
  text-align: center;
}

.nav-toggle-m .icon-bar {
  display: block;
  float: left;
  width: 20px;
  height: 2px;
  margin: 2px 9px;
  padding: 0;
  background-color: #000;
  transition: all ease 0.3s;

}

.nav-toggle-m.active {
  .icon-bar.bar-top {
    width: 28px;
    transform: rotate(43deg) translate(1px, 8px);
  }

  .icon-bar.bar-middle {
    opacity: 0;
  }

  .icon-bar.bar-bottom {
    width: 28px;
    transform: rotate(-43deg) translate(0px, -8px);
  }
}

// ---------------------------------------------------
.login-box-m {
  height: 50px;
  background: #0066b4;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  a {
    color: #fff;
    font-size: 15px;
    line-height: 50px;
  }
}

.login-box-m-left {
  float: left;
  padding-left: 20px;
}

.login-box-m-right {
  float: right;
  padding-right: 20px;

  a:first-child {
    &::after {
      content: '';
      @extend %sp-bar;
      top: 2px;
      height: 13px;
      margin: 0 20px;
      background-color: #2079bd;
    }
  }
}

// ---------------------------------------------------
.header-mobile-roll {
  //display: none;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  height: 0;
  //transition: .3s ease-out;
}

.header-mobile-dimmed {
  display: none;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
}

.header-mobile-dimmed.active {
  display: block;
}

// ---------------------------------------------------
.site-menu-m {
  position: relative;
  height: auto;
  //background: #fff;  
  text-align: center;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.m-menu-depth1-item {
  position: relative;
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #d2d2d2;
  background: #fff;
  color: #000;
  font-size: 17px;
  font-weight: bold;

  &:after {
    content: url(../images/icon/icon-down.png);
    display: block;
    position: absolute;
    top: 17px;
    right: 8px;
    transform: scale(0.5);
  }
  .m-menu-depth1.active &:after {
    content: url(../images/icon/icon-up.png);
  }
}

.m-menu-depth2 {
  overflow: hidden;
  height: 0;
  transition: .2s ease-out;
}

.m-menu-depth2.active {
  height: auto;
  padding: 14px 0;
  background: #f2f2f2;
  border-bottom: 1px solid #d9d9d9;
  transition: .2s ease-out;
}

.m-menu-depth2-item {
  //display: block;
  font-size: 15px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  a {
    padding: 8px 0;
    color: #000;
    display: block;
  }
}

.m-menu-depth2-item.active {
  a {
    color: #0066b4;
  }
}