/* ---------------------------------------------------
// header
--------------------------------------------------- */
.header-web {
  position: relative;
}

// 로고
.site-logo {
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 1;
}

.site-logo-a {
  display: block;
}

// ---------------------------------------------------
/* 로그인 박스 */
.login-box {
  padding-top: 26px;
  padding-right: 26px;
  padding-bottom: 26px;
  text-align: right;

  @media screen and (min-width: 1026px) {
    padding-right: 0;
  }
}

.login-box-btns {
  display: inline-block;
}

.login-box-btns-item {
  display: inline-block;
}

.login-box-btns-item-a {
  color: #000;
  font-size: 13px;
}

.login-box-btns-item-btn {
  font-size: 14px;
  font-family: bold;

  &.btn-primary {
    color: #fff;
  }
}

// ---------------------------------------------------
// 앞쪽의 텍스트그룹 - 세로선
.login-box-con {
  display: inline-block;
  padding-right: 22px;
}

.login-box-con-item {
  display: inline-block;

  &::before {
    content: '';
    @extend %sp-bar;
    margin: 0 10px;
  }
}

/* 첫번째 아이템에는 세로선을 없앰 */
.login-box-con-item:first-child::before {
  width: 0;
}

.login-box-con-item-a {
  color: #000;
  font-size: 13px;
}

// ---------------------------------------------------
/* 사이트 GNB */
.site-menu {
  position: relative;
  z-index: 100;
  width: 100%;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  background: #fff;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// menu style
%site-menu-text-style {
  display: block;
  color: #000;
  font-size: 16px;
  font-family: bold;
  text-align: center;
}

.site-menu-container {
  text-align: center;
}

// depth1
.menu-depth1 {
  $width: 100%;
  float: left;
  position: relative;
  width: ($width/5);
  margin: 0;
  padding: 0;
  line-height: 52px;
}

.depth1-text-style {
  @extend %site-menu-text-style;
}

// depth2
.menu-depth2 {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 52px;
  left: 0;
  width: 100%;
  height: 0;
  background: #0265b6;
}

.menu-depth2-item {
  border-top: 1px solid #3385c3;
  line-height: 50px;
}

.depth2-text-style {
  @extend %site-menu-text-style;
  color: #fff;
}

/* ---------------------------------------------------
// header - active
--------------------------------------------------- */
.menu-depth1.active {
  .depth1-text-style {
    color: #0265b6;
  }
}

// case. 한단씩 펼처질때
.menu-depth1:hover {
  .depth1-text-style {
    background: #0066b4;
    color: #fff;
  }
}

.menu-depth1:hover {
  .menu-depth2 {
    display: block;
    height: auto;
  }

  .depth2-text-style:hover {
    color: #fff;
  }
}
