/*---------------------------------------------------
// layout
--------------------------------------------------- */
// content-zone을 비롯한 내부 컨테이너 사이즈 세팅
@mixin rwd-width($prop) {
  #{$prop}: 100%;

  @media screen and (min-width: 1030px) {
    #{$prop}: 1000px;
  }
}

// skip
#skip {
  display: none;
}

/* 컨텐츠 컨테이너의 사이즈 제한 */
.content-zone {
  position: relative;
  @include rwd-width('max-width');
  margin: 0 auto;
  padding:0 20px;

  @media screen and (min-width: 1040px) {
    padding: 0;
  }  
}
/*---------------------------------------------------
// container
--------------------------------------------------- */
/* container 공통 */
#container {
  overflow: hidden;
  position: relative;
  @include rwd-width('min-width');
  min-height: 100%;
  padding-top: 60px;
  margin: 0 auto;

  @media screen and (min-width: #{$tab_size}) {
    padding: 0;
  }
}

/* container - main */
.container-main {
  margin: 0 auto;
}

/* container - wide */
.container-wide {
  @include rwd-width('width');
  height: 600px;
  margin: 0 auto;
}

/*---------------------------------------------------
// subpage common
--------------------------------------------------- */
.sub-content {
  padding-bottom: 50px;
  font-size: 13px;
  line-height: 1.5;

  @media screen and (min-width: #{$tab_size}) {
    padding-bottom: 100px;
    font-size: 16px;
  }  
}

/*---------------------------------------------------
// 회색 box container
--------------------------------------------------- */
.box-container {
  padding: 20px;
  margin: 20px auto;
  background: #f3f3f3;

  @media screen and (min-width: #{$tab_size}) {
    padding: 40px;
  }    
}

.box-container p {
  color: #626262;
}
