/*---------------------------------------------------
// layout
--------------------------------------------------- */
$viewportSize: 1200px;

#skip{
  display:none;
}

/* 컨텐츠 컨테이너의 사이즈 제한 */
.content-zone{
  position:relative;
  width:$viewportSize;
  margin:0 auto;
}

/* container 공통 */
#container{
  position:relative;
  min-width:$viewportSize;
  min-height:100%;
  margin: 0 auto;
  overflow:hidden;
}

/* container - main */
.container-main{
  margin: 0 auto;
}

/* container - wide */
.container-wide{
  width:$viewportSize;
  height:600px;
  margin: 0 auto;
}

/*---------------------------------------------------
// subpage LNB
--------------------------------------------------- */
#lnb{
  width:100%;
  height:50px;
  line-height:50px;
  background:#0265b6;
ul{
text-align:center;
}
  li{
    display:inline-block;
    margin:0 30px;
  }
  a{
    color:#fff;
  }
  
}
/*---------------------------------------------------
// subpage common
--------------------------------------------------- */
.sub-content{
  .content-zone{
    width:1000px;
  }
}


/*---------------------------------------------------
// etc container
--------------------------------------------------- */
.box-container{
  width:500px;
  padding: 60px;
  margin:0 auto;
  //text-align:center;
  background:#f3f3f3;
  p{
    color: #626262;
  }
}
