/*---------------------------------------------------
// layout
--------------------------------------------------- */

// USE EXAMPLE : @include viewportSize('width');
// content-zone을 비롯한 내부 컨테이너 사이즈 세팅
@mixin viewportSize($prop) {
  #{$prop}: 100%;
  
 @media screen and (min-width: #{$md}) {
    body { background-color: rgb(219, 162, 4); }
    #{$prop}: 992px;
  }
  @media screen and (min-width: #{$lg}) {
    body { background-color: #fff; }
    #{$prop}: 1200px;
  }  
}

#skip {
  display: none;
}

/* 컨텐츠 컨테이너의 사이즈 제한 */
.content-zone {
  position: relative;
  //width: $viewportSize;
  @include viewportSize('width');
  border:1px solid red;
  margin: 0 auto;
}

/* container 공통 */
#container {
  position: relative;
  //min-width: $viewportSize;
  @include viewportSize('min-width');
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* container - main */
.container-main {
  margin: 0 auto;
}

/* container - wide */
.container-wide {
  //width: $viewportSize;
  @include viewportSize('width');
  height: 600px;
  margin: 0 auto;
}

/*---------------------------------------------------
// subpage LNB
--------------------------------------------------- */
#lnb {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size:15px;
  background: #c4c4c4;

  ul {
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 50px;
  }

  a {
    color: #fff;
    &.on{
      color: #0066b4;
    }
  }

}

/*---------------------------------------------------
// subpage common
--------------------------------------------------- */
.sub-content {
  padding-bottom: 100px;
  font-size: 16px;
  line-height: 1.5;

  .content-zone {
    width: 1000px;
  }

}

/*---------------------------------------------------
// gray box container
--------------------------------------------------- */
.box-container {
  padding: 40px;
  margin: 20px auto;
  //text-align:center;
  background: #f3f3f3;

  p {
    color: #626262;
  }
}

.box-container.login {
  width: 500px;

}

/*---------------------------------------------------
// tab-select
--------------------------------------------------- */
.tab-select{
  padding-bottom:50px;
  a{
    float:left;
    width:50%;
    height:58px;
    line-height:58px;
    //font-size:18px;
    text-align:center;
    border:1px solid #dddddd;
    color:#000;
    &:last-child{
      border-left:0;
    }
    &.active{
      background: #0066b4;
      color:#fff;
    }
  }
}