/* site layout */
 
//---------------------------------------------------
// layout
//---------------------------------------------------
#skip{
  display:none;
}
// .site-wrapper {
//   width: 1200px;
//   margin: 0 auto;
//   border:1px solid #000;
// }
$viewportSize: 1200px;

/* 컨텐츠 컨테이너의 사이즈 제한 */
.content-zone{
  position:relative;
  width:$viewportSize;
  margin:0 auto;
}

/* container 공통 */
#container{
  position:relative;
  width:$viewportSize;
  min-height:100%;
  margin: 0 auto;
  border:1px dotted silver;
}

/* container - main */
.container-main{
  width:$viewportSize;
  height:600px;
  margin: 0 auto;
  border:1px dotted silver;
}

/* container - wide */
.container-wide{
  width:$viewportSize;
  height:600px;
  margin: 0 auto;
  border:1px dotted silver;
}


/* sub LNB */
#lnb{
  position:absolute;
  top:0;
  left:0;
  display:inline-block;
  width:200px;
  height:100%;
  border:1px dotted gray;
}

/* LNB 우측 내용부 */
.content{
  display:block;
  margin-left:200px;
  //width: 100%;
  padding:30px 30px;
}

