/*!
 * font set
 * 2017.10.11
 */
body, input, textarea {
  font-family: 'Myriad Pro', 'Malgun Gothic', dotum, sans-serif;
}

/*!
 * loop class - extras margin padding
 * 2017.10.11
 */
/*
.mt1{
  margin-top:1px;
}
.mr1{
  margin-right:1px;
}
.mb1{
  margin-bottom:1px;
}
.ml1{
  margin-left:1px;
}
.pt1{
  padding-top:1px;
}
.pr1{
  padding-right:1px;
}
.pb1{
  padding-bottom:1px;
}
.pl1{
  padding-left:1px;
}
*/
.margin-top-1 {
  margin-top: 1px;
}

.margin-top-2 {
  margin-top: 2px;
}

.margin-top-3 {
  margin-top: 3px;
}

.margin-top-4 {
  margin-top: 4px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-6 {
  margin-top: 6px;
}

.margin-top-7 {
  margin-top: 7px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-top-9 {
  margin-top: 9px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-11 {
  margin-top: 11px;
}

.margin-right-1 {
  margin-right: 1px;
}

.margin-right-2 {
  margin-right: 2px;
}

.margin-right-3 {
  margin-right: 3px;
}

.margin-right-4 {
  margin-right: 4px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-6 {
  margin-right: 6px;
}

.margin-right-7 {
  margin-right: 7px;
}

.margin-right-8 {
  margin-right: 8px;
}

.margin-right-9 {
  margin-right: 9px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-11 {
  margin-right: 11px;
}

.margin-bottom-1 {
  margin-bottom: 1px;
}

.margin-bottom-2 {
  margin-bottom: 2px;
}

.margin-bottom-3 {
  margin-bottom: 3px;
}

.margin-bottom-4 {
  margin-bottom: 4px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-6 {
  margin-bottom: 6px;
}

.margin-bottom-7 {
  margin-bottom: 7px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-bottom-9 {
  margin-bottom: 9px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-11 {
  margin-bottom: 11px;
}

.margin-left-1 {
  margin-left: 1px;
}

.margin-left-2 {
  margin-left: 2px;
}

.margin-left-3 {
  margin-left: 3px;
}

.margin-left-4 {
  margin-left: 4px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-left-6 {
  margin-left: 6px;
}

.margin-left-7 {
  margin-left: 7px;
}

.margin-left-8 {
  margin-left: 8px;
}

.margin-left-9 {
  margin-left: 9px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-11 {
  margin-left: 11px;
}

.padding-top-1 {
  padding-top: 1px;
}

.padding-top-2 {
  padding-top: 2px;
}

.padding-top-3 {
  padding-top: 3px;
}

.padding-top-4 {
  padding-top: 4px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-top-6 {
  padding-top: 6px;
}

.padding-top-7 {
  padding-top: 7px;
}

.padding-top-8 {
  padding-top: 8px;
}

.padding-top-9 {
  padding-top: 9px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-11 {
  padding-top: 11px;
}

.padding-right-1 {
  padding-right: 1px;
}

.padding-right-2 {
  padding-right: 2px;
}

.padding-right-3 {
  padding-right: 3px;
}

.padding-right-4 {
  padding-right: 4px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-right-6 {
  padding-right: 6px;
}

.padding-right-7 {
  padding-right: 7px;
}

.padding-right-8 {
  padding-right: 8px;
}

.padding-right-9 {
  padding-right: 9px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-11 {
  padding-right: 11px;
}

.padding-bottom-1 {
  padding-bottom: 1px;
}

.padding-bottom-2 {
  padding-bottom: 2px;
}

.padding-bottom-3 {
  padding-bottom: 3px;
}

.padding-bottom-4 {
  padding-bottom: 4px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-bottom-6 {
  padding-bottom: 6px;
}

.padding-bottom-7 {
  padding-bottom: 7px;
}

.padding-bottom-8 {
  padding-bottom: 8px;
}

.padding-bottom-9 {
  padding-bottom: 9px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-11 {
  padding-bottom: 11px;
}

.padding-left-1 {
  padding-left: 1px;
}

.padding-left-2 {
  padding-left: 2px;
}

.padding-left-3 {
  padding-left: 3px;
}

.padding-left-4 {
  padding-left: 4px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-left-6 {
  padding-left: 6px;
}

.padding-left-7 {
  padding-left: 7px;
}

.padding-left-8 {
  padding-left: 8px;
}

.padding-left-9 {
  padding-left: 9px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-11 {
  padding-left: 11px;
}

.a11y-hidden {
  position: absolute;
  top: auto;
  left: -9999em;
  overflow: hidden;
  margin: -1px;
  width: 1px;
  height: 1px;
}

.event-container h1, .event-container h2, .popup .btn-close span, .pop-notice .pop-header h3, .pop-policy .pop-header h3 {
  position: absolute;
  top: auto;
  left: -9999em;
  overflow: hidden;
  margin: -1px;
  width: 1px;
  height: 1px;
}

/*!
 * form layout
 * kjh
 */
.form-box {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: left;
}

.form-box legend {
  display: none;
}

.form-box a {
  display: inline-block;
}

.form-box img {
  pointer-events: none;
  vertical-align: middle;
}

.form-box input[type=text],
.form-box input[type=button],
.form-box input[type=checkbox],
.form-box input[type=radio],
.form-box textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 0;
}

.form-box input[type=text],
.form-box input[type=tel],
.form-box select,
.form-box textarea {
  width: 100%;
  max-width: none;
  padding-left: 8px;
  padding-right: 8px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #6a5437;
  border-radius: 0;
  background-color: #ececec;
  color: #868686;
  font-size: 24px;
  font-family: "Malgun Gothic", Dotum;
}

.form-box input[type=checkbox] {
  width: 28px;
  height: 28px;
  line-height: 100%;
  vertical-align: middle;
  margin: 0 8px 0 0;
  background-size: 28px 28px;
  background: url("../../../Images/KittyJusticeLeague/w/../pop/form/icon-check-off.png") no-repeat center top;
}

.form-box input[type=checkbox]:checked {
  background: url("../../../Images/KittyJusticeLeague/w/../pop/form/icon-check-on.png") no-repeat center top;
}

.form-box input[type=radio] {
  border: 0;
  width: 35px;
  height: 35px;
  line-height: 100%;
  vertical-align: middle;
  margin: 0 4px 0 0;
  background: url("../../../Images/KittyJusticeLeague/w/form/icon-radio-off.png") no-repeat center top;
}

.form-box input[type=radio]:checked {
  background: url("../../../Images/KittyJusticeLeague/w/form/icon-radio-on.png") no-repeat center top;
}

.form-box select option {
  color: #868686;
  background: #fff;
}

.form-box select option:first-child {
  color: #868686;
}

.form-box .no-space {
  padding-left: 0;
  padding-right: 0;
}

.form-box .form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-box .form-group {
  color: #868686;
}

.form-box .form-group lable, .form-box .form-group .control-label, .form-box .form-group strong {
  color: #debb7b;
  padding-left: 0;
  padding-right: 0;
  line-height: 50px;
  display: inline-block;
}

.form-box .form-group .label-style {
  display: none;
}

.form-box .form-group .form-email:before {
  position: absolute;
  content: '@';
  top: 50%;
  right: -6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ccc;
  font-size: 1.4em;
  font-style: normal;
  letter-spacing: -.15em;
}

.form-box button[type=submit] {
  margin-top: 30px;
  border: 0;
  background: none;
}

::-webkit-input-placeholder {
  color: #868686 !important;
}

::-moz-placeholder {
  color: #868686 !important;
}

:-ms-input-placeholder {
  color: #868686 !important;
  line-height: 1 !important;
}

:-moz-placeholder {
  color: #868686 !important;
}

.privacy-policy label {
  vertical-align: top;
  display: inline-block;
  line-height: auto;
}

.privacy-policy .btn-agree {
  display: inline-block;
  margin-left: 15px;
  margin-right: 0;
  padding: 0;
  margin-top: 15px;
  margin-left: 8px;
}

.pop-post .pop-con {
  -webkit-overflow-scrolling: touch;
}

.pop-winner {
  text-align: center;
}

.pop-winner .pop-con .dang-group {
  width: 540px;
  margin: 0 auto;
  padding-top: 40px;
  color: #323232;
}

.pop-winner .pop-con .dang-group p {
  padding-bottom: 20px;
  text-align: left;
}

.pop-winner .pop-con .dang-group .dang-box {
  width: 100%;
  height: 190px;
  border: 1px solid #dedede;
  background: #f4f4f4;
  overflow-x: hidden;
  /*overflow-y: auto;*/
  margin-bottom: 40px;
  text-align: left;
  font-size: 18px;
  line-height: 1.9;
}

.pop-winner .pop-con .dang-group .dang-box ul {
  padding: 14px 0 0 60px;
  list-style: none;
}

.pop-winner .pop-con .dang-group .dang-box li {
  float: left;
  width: 33%;
}

.pop-winner .pop-con .dang-group .dang-box.winner1 {
  text-align: center;
  overflow: hidden;
  height: 60px;
}

.pop-winner .pop-con .dang-group .dang-box.winner1 ul {
  padding: 14px 0;
}

.pop-winner .pop-con .dang-group .dang-box.winner1 li {
  padding: 0;
  float: none;
  width: 100%;
}

.pop-winner .pop-con .dang-note {
  padding-bottom: 35px;
}

.debuging button {
  background: #dedede !important;
  border: .5px solid silver;
  border-radius: 2px;
  margin: 1px;
  padding: 5px;
}

body {
  margin: 0;
  padding: 0;
}

.event-container {
  text-align: center;
}

.heading {
  position: relative;
}

.header-title {
  font-size: 0;
}

.container {
  min-width: unset;
  max-width: unset;
  width: auto;
  margin: 0;
  padding: 0;
}

.event-intro .heading {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../../../Images/KittyJusticeLeague/w/event-intro-heading.png") no-repeat center -30px;
  width: 800px;
  height: 500px;
  z-index: 1;
}

.event-intro .heading.kt {
  background: url("../../../Images/KittyJusticeLeague/w/event-intro-heading2.png") no-repeat center -30px;
}

.event-intro .heading .deco {
  position: absolute;
  top: 0;
  left: 20px;
  width: 126px;
  height: 233px;
  background: url("../../../Images/KittyJusticeLeague/w/event-intro-heading-deco.png") no-repeat center -30px;
}

.event-area .heading {
  background: url("../../../Images/KittyJusticeLeague/w/event-area-heading.png") no-repeat center 210px;
  height: 700px;
}

/*.product-intro .heading {
  @include background('product-intro-heading.png', $y:130px);
  height: 400px;
}*/
.event-info {
  background: url("../../../Images/KittyJusticeLeague/w/event-info-img.png") no-repeat center top;
  height: 1150px;
}

body {
  position: relative;
  background: #61aed8;
}

.bacgkround-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 70px;
  width: 100%;
  min-width: 1000px;
  overflow: hidden;
}

.bacgkround-wrap .bg1 {
  position: relative;
  height: 1238px;
}

.bacgkround-wrap .bg2 {
  position: relative;
  height: 2885px;
}

.bacgkround-wrap .bg2::after {
  content: url("/Images/KittyJusticeLeague/w/section-deco-bottom.png");
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 928px;
}

.bacgkround-wrap .bg2 .section-deco-top-snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../../Images/KittyJusticeLeague/w/section-deco-top-snow.png") repeat-x center top;
}

.bacgkround-wrap .bg2 .section-deco-center {
  position: absolute;
  top: -17px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: url("../../../Images/KittyJusticeLeague/w/section-deco-center.png") no-repeat center 16px;
}

.bacgkround-wrap .bg2 .section-deco-center-snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background: url("../../../Images/KittyJusticeLeague/w/section-deco-center-snow.png") repeat center top;
}

.bacgkround-wrap .bg2 .section-deco-center-snow-b {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: url("../../../Images/KittyJusticeLeague/w/section-deco-center-snow-b.png") repeat center top;
}

.event-container {
  position: relative;
  min-width: 1000px;
  padding-top: 70px;
  /*.brand-logo {
    position: absolute;
    top: 40px;
    left: 40px;
  }*/
  /*.mov-box {
      position: relative;
      margin: 0 auto;
      width:866px;
      height:487px;
      @include background('mainPlayerCover.jpg');
      background-size:cover;
      box-shadow: 1px 17px 40px 0px rgba(0,0,0,0.85);
    }*/
  /*.section-tab {
    //position:fixed;
    //top:0;
    //left:0;
    width: 100%;
    height: 88px;
    border-top:1px solid #463b2e;
    border-bottom:1px solid #4a3e30;
    z-index:999;
    @include background('tab-select1.jpg', $color:#2e2113);

    button {
      display: inline-block;
      width: 49%;
      height: 100%;
      margin: 0;
      padding: 0;
      opacity: 0;
    }

    &.tab-2 {
      @include background('tab-select2.jpg', $color:#2e2113);
    }
  }*/
}

.event-container button {
  padding: 0;
  background: transparent;
  border: 0;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

.event-container .shine {
  -webkit-box-shadow: 7px 7px 30px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 7px 7px 30px -4px rgba(0, 0, 0, 0.75);
}

.event-container .event-intro {
  position: relative;
  height: 1238px;
}

.event-container .event-intro .toyview-container {
  position: relative;
  height: 1238px;
  overflow: hidden;
}

.event-container .event-intro .toyview-container .paging {
  position: absolute;
  top: 470px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  min-width: 1000px;
  max-width: 1600px;
}

.event-container .event-intro .toyview-container .paging > div {
  width: 200px;
  cursor: pointer;
}

.event-container .event-intro .toyview-container .paging button {
  text-decoration: none;
  outline: 0;
}

.event-container .event-intro .toyview-container .paging .main {
  background: url("../../../Images/KittyJusticeLeague/w/slider-go-main.png") no-repeat center center;
}

.event-container .event-intro .toyview-container .paging .kt {
  background: url("../../../Images/KittyJusticeLeague/w/slider-go-kt.png") no-repeat center center;
}

.event-container .event-intro .toyview-container .paging .jt {
  background: url("../../../Images/KittyJusticeLeague/w/slider-go-jt.png") no-repeat center center;
}

.event-container .event-intro .toyview-container .paging .btn-prev {
  position: absolute;
  top: 0;
  left: 5%;
  text-align: left;
}

.event-container .event-intro .toyview-container .paging .btn-next {
  position: absolute;
  top: 0;
  right: 5%;
  text-align: right;
}

.event-container .event-intro .toyview-container .toyview {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.event-container .event-intro .toyview-container .toyview .item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.event-container .event-intro .toyview-container .toyview .snowhill {
  top: 0;
  background: url("../../../Images/KittyJusticeLeague/w/visual-bg.png") no-repeat center bottom;
}

.event-container .event-intro .toyview-container .toyview .back {
  bottom: 0;
}

.event-container .event-intro .toyview-container .toyview .sky {
  top: 0;
}

.event-container .event-intro .toyview-container .toyview .toy {
  top: 0;
}

.event-container .event-intro .toyview-container .toyview .top {
  top: 0;
}

.event-container .event-intro .toyview-container .toyview .logo {
  top: 30px;
  left: 30px;
  width: 140px;
  height: 140px;
}

.event-container .event-intro .toyview-container .toyview .center {
  top: 0;
}

.event-container .event-intro .toyview-container .toyview.main .back {
  background: url("../../../Images/KittyJusticeLeague/w/visual-main-bottom.png") no-repeat center bottom;
}

.event-container .event-intro .toyview-container .toyview.main .sky {
  background: url("../../../Images/KittyJusticeLeague/w/visual-main-sky.png") no-repeat center top;
}

.event-container .event-intro .toyview-container .toyview.main .top {
  background: url("../../../Images/KittyJusticeLeague/w/visual-main-top.png") no-repeat center top;
}

.event-container .event-intro .toyview-container .toyview.main .logo {
  background: url("../../../Images/KittyJusticeLeague/w/visual-main-logo.png") no-repeat 0 0;
}

.event-container .event-intro .toyview-container .toyview.main .toy {
  background: url("../../../Images/KittyJusticeLeague/w/visual-main-toy.png") no-repeat center bottom;
}

.event-container .event-intro .toyview-container .toyview.main .center {
  background: url("../../../Images/KittyJusticeLeague/w/visual-main-center.png") no-repeat center 500px;
}

.event-container .event-intro .toyview-container .toyview.kt .back {
  background: url("../../../Images/KittyJusticeLeague/w/visual-kt-bottom.png") no-repeat center bottom;
}

.event-container .event-intro .toyview-container .toyview.kt .sky {
  background: url("../../../Images/KittyJusticeLeague/w/visual-kt-sky.png") no-repeat center top;
}

.event-container .event-intro .toyview-container .toyview.kt .top {
  background: url("../../../Images/KittyJusticeLeague/w/visual-kt-top.png") no-repeat center top;
}

.event-container .event-intro .toyview-container .toyview.kt .logo {
  background: url("../../../Images/KittyJusticeLeague/w/visual-kt-logo.png") no-repeat 0 0;
}

.event-container .event-intro .toyview-container .toyview.kt .toy {
  background: url("../../../Images/KittyJusticeLeague/w/visual-kt-toy.png") no-repeat center bottom;
}

.event-container .event-intro .toyview-container .toyview.kt .center {
  background: url("../../../Images/KittyJusticeLeague/w/visual-kt-center.png") no-repeat center 500px;
}

.event-container .event-intro .toyview-container .toyview.jt .back {
  background: url("../../../Images/KittyJusticeLeague/w/visual-jt-bottom.png") no-repeat center bottom;
}

.event-container .event-intro .toyview-container .toyview.jt .sky {
  background: url("../../../Images/KittyJusticeLeague/w/visual-jt-sky.png") no-repeat center top;
}

.event-container .event-intro .toyview-container .toyview.jt .top {
  background: url("../../../Images/KittyJusticeLeague/w/visual-jt-top.png") no-repeat center top;
}

.event-container .event-intro .toyview-container .toyview.jt .logo {
  background: url("../../../Images/KittyJusticeLeague/w/visual-jt-logo.png") no-repeat 0 0;
}

.event-container .event-intro .toyview-container .toyview.jt .toy {
  background: url("../../../Images/KittyJusticeLeague/w/visual-jt-toy.png") no-repeat center bottom;
}

.event-container .event-intro .toyview-container .toyview.jt .center {
  background: url("../../../Images/KittyJusticeLeague/w/visual-jt-center.png") no-repeat center 500px;
}

.event-container .event-area {
  position: relative;
  height: 2885px;
  overflow: hidden;
  /*.entry-list-wrap {
      .list-loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        @include background('loading.gif', $y: center);
        z-index: 1;
      }

      .message-box {
        position: relative;
        margin: 0 auto;
        height: 420px;

        li {
          display: inline-block;
        }

        img {
          width: 730px;
        }
      }

      .message-paging {
        position: absolute;
        top: 215px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;

        .btn-prev {
          position: absolute;
          top: 0;
          right: 1140px;
        }

        .btn-next {
          position: absolute;
          top: 0;
          left: 1140px;
        }
      }

      .message-indicator {
        height: 64px;
        color: #d9b07e;
        font-size: 26px;
      }

      button {
        margin: 0 5px;
        margin-bottom: 80px;
      }
    }*/
}

.event-container .event-area::before {
  content: '';
  background: url("../../../Images/KittyJusticeLeague/w/section-deco-top.png") repeat-x center top;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 190px;
}

.event-container .event-area .naver-search-go {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  height: 400px;
  padding-top: 230px;
}

.event-container .event-area .naver-search-go a {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.event-container .event-area .naver-search-go .search-deco {
  position: absolute;
  top: 0;
  left: 210px;
  width: 563px;
  height: 280px;
  background: url("../../../Images/KittyJusticeLeague/w/naver-search-deco.png") no-repeat center 0;
}

.event-container .event-area .naver-search-go .search-deco-click {
  position: absolute;
  top: 110px;
  right: 50px;
  width: 90px;
  height: 91px;
  background: url("../../../Images/KittyJusticeLeague/w/naver-search-deco-click.png") no-repeat center 0;
}

.event-container .event-area .naver-search-go .text-flow {
  position: absolute;
  top: 260px;
  right: 410px;
  width: 0px;
  height: 50px;
  background: #fff;
  z-index: 1;
}

.event-container .product-intro {
  position: relative;
  height: 1209px;
}

.event-container .product-intro .product-img {
  position: relative;
  top: -55px;
}

.event-container .product-intro .review-img {
  top: -55px;
  margin: 0 auto;
  padding-bottom: 60px;
  text-align: center;
}

.event-container .product-intro .review-img ul {
  list-style: none;
}

.event-container .product-intro .review-img ul li {
  display: inline-block;
  margin: 0 5px;
}

.event-container .product-intro .review-img ul li.second {
  position: relative;
  top: -70px;
}

.event-container .product-intro .review-img ul li img {
  -webkit-box-shadow: 7px 7px 30px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 7px 7px 30px -4px rgba(0, 0, 0, 0.75);
}

.event-container .product-intro .dday-box {
  position: absolute;
  top: 700px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.event-container .event-note {
  position: relative;
  background: #2a445e;
  padding-top: 60px;
  padding-bottom: 60px;
}

.popup .btns {
  left: 0 !important;
  margin: 0 auto !important;
  text-align: center !important;
}

.popup .btns a {
  display: inline-block;
}

.debuging {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  border: 1px dotted gray;
  text-align: left;
  font-size: 90%;
  color: #fff;
  z-index: 999;
}

.debuging p {
  color: #000;
  background: yellow;
}

.debuging button {
  background: black !important;
  padding: 3px;
}

/*.popup:focus{
  outline:none;
}*/
#dimmed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/Images/KittyJusticeLeague/pop/dim.png") repeat center top;
  z-index: 99;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/Images/KittyJusticeLeague/pop/dim.png") repeat center top;
  z-index: 110;
  text-align: center;
  /*.img-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 278px;
    height: 327px;
    @include background('bg_loading.png');
    transform: translate(-50%, -50%);
    animation-duration: 1s;

    &1 {
      background-position-y: 0;
    }

    &2 {
      background-position-y: -327px;
      opacity: 0;
    }

    &3 {
      background-position-y: -656px;
      opacity: 0;
    }
  }*/
}

#loading .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/Images/KittyJusticeLeague/pop/loading.gif") no-repeat center center;
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  width: 640px;
  height: auto;
  margin-top: 100px;
  background: #fff;
  z-index: 99;
  text-align: left;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  left: 50%;
  margin-left: -320px;
}

.popup h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.popup .btns {
  position: relative;
  margin-left: -30px;
  left: 15px;
}

.popup .btn-close {
  position: absolute;
  top: -65px;
  right: 0px;
  width: 51px;
  height: 50px;
  border: none;
  color: transparent;
  background: url("/Images/KittyJusticeLeague/pop/btn-close.png") no-repeat center top;
}

.popup .pop-header {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  background: #c7383e url("/Images/KittyJusticeLeague/pop/pop-header-bg.jpg") no-repeat center top;
}

.popup .pop-header:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url("/Images/KittyJusticeLeague/pop/pop-header.png") no-repeat center center;
}

.popup .pop-con {
  padding: 0 40px;
  padding-bottom: 70px;
  margin: 0 auto;
}

.popup .pop-con h2 {
  margin-bottom: 42px;
  text-align: center;
}

.popup .pop-con .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  filter: alpha(opacity=60);
  opacity: 0.60;
  background-color: #000;
  overflow: hidden;
}

.popup .pop-con .loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -24px 0 0 -24px;
}

.pop-entry .result-view {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.pop-entry .pop-con {
  padding-top: 30px;
}

.pop-notice .pop-header {
  height: 240px;
  background: url("/Images/KittyJusticeLeague/pop/pop-header-notice.png") no-repeat center top;
}

.pop-notice .pop-con {
  position: relative;
  padding-top: 0;
}

.pop-policy .pop-header {
  height: 290px;
  background: url("/Images/KittyJusticeLeague/pop/pop-header-policy.png") no-repeat center top;
}

.pop-policy .pop-con {
  padding-top: 0;
}

.pop-mov-view .mov-box {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  /*iframe {
      width: 560px;
      height: 315px;
    }*/
}

.pop-mov-view .mov-box .mov-cover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.pop-mov-view .btn-right {
  text-align: right;
}

.pop-mov-view .btn-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.pop-share .pop-con {
  text-align: center;
}

.pop-share .pop-con p {
  padding-top: 40px;
  padding-bottom: 0;
}

.pop-share .pop-con .share-box button {
  margin: 0 15px;
}

.pop-share .pop-con .btns {
  margin-top: 50px;
}

.pop-complete .pop-con .product-img {
  margin-top: -30px;
}

.pop-gmarket {
  text-align: center;
}

.pop-gmarket .pop-header {
  height: 148px;
  overflow: hidden;
}

.pop-gmarket .pop-con .dday-box {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pop-post {
  z-index: 100;
}

.pop-post h3 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 2em;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pop-post .pop-con {
  padding: 0;
}

.pop-inapp {
  background: none;
  text-align: center;
}

.pop-inapp .inapp-img {
  width: 640px;
  height: 932px;
  background: url("/Images/KittyJusticeLeague/pop/inapp-img.png") no-repeat center top;
}

.dday-box > div {
  vertical-align: top;
  display: inline-block;
}

.dday-box .deco {
  padding-right: 5px;
}

.dday-box .number {
  background: url("/Images/KittyJusticeLeague/pop/dday-num.png") no-repeat center top;
  width: 60px;
  height: 80px;
}

.dday-box .number0 {
  background-position-x: 0px;
}

.dday-box .number1 {
  background-position-x: -126px;
}

.dday-box .number2 {
  background-position-x: -252px;
}

.dday-box .number3 {
  background-position-x: -378px;
}

.dday-box .number4 {
  background-position-x: -504px;
}

.dday-box .number5 {
  background-position-x: -630px;
}

.dday-box .number6 {
  background-position-x: -756px;
}

.dday-box .number7 {
  background-position-x: -882px;
}

.dday-box .number8 {
  background-position-x: -1008px;
}

.dday-box .number9 {
  background-position-x: -1134px;
}
