@charset "UTF-8";
/* tag base */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
}

img {
  border: 0;
  vertical-align: top;
  line-height: 0;
  font-size: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

a:hover, a:active {
  text-decoration: none;
  outline: 0;
}

a:link, a:visited {
  text-decoration: none;
}

/* font setting */
body, input, textarea {
  font-family: 'Myriad Pro', 'Malgun Gothic', dotum, sans-serif;
}

/* bootstrap override */
.site-wrapper .btn {
  border-radius: 0;
}

.site-wrapper .btn-wide {
  width: 100%;
}

.site-wrapper .btn-default {
  background: inherit;
}

.site-wrapper .btn-primary {
  background: #0065b3;
  border: 1px solid #0065b3;
}

.site-wrapper .btn-success {
  background: inherit;
}

.site-wrapper .btn-info {
  background: #79838c;
  border: 1px solid #79838c;
}

.site-wrapper .btn-warning {
  background: inherit;
}

.site-wrapper .btn-danger {
  background: inherit;
}

.a11y-hidden {
  position: absolute;
  top: auto;
  left: -9999em;
  overflow: hidden;
  margin: -1px;
  width: 1px;
  height: 1px;
}

/* glyphicon / deco */
.login-box li:first-child::after, .container-main .cateogory-container .ctg-notice strong:after {
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #7b7b7b;
}

.sp-bar {
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #7b7b7b;
}

.icon-new {
  border: 1px solid #89d6f0;
  font-size: 10px;
  font-style: normal;
  color: #4cb9e2;
  padding: 2px 4px;
}

/* site layout */
#skip {
  display: none;
}

/* 컨텐츠 컨테이너의 사이즈 제한 */
.content-zone {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

/* container 공통 */
#container {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
}

/* container - main */
.container-main {
  margin: 0 auto;
}

/* container - wide */
.container-wide {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
}

/* sub LNB */
#lnb {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 200px;
  height: 100%;
  border: 1px dotted gray;
}

/* LNB 우측 내용부 */
.content {
  display: block;
  margin-left: 200px;
  padding: 30px 30px;
}

/* ---------------------------------------------------
// header
--------------------------------------------------- */
#header {
  position: relative;
}

.site-logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* 우상단 */
.login-box {
  width: 100%;
  text-align: right;
  padding-top: 35px;
  padding-bottom: 25px;
}

.login-box li {
  display: inline-block;
}

.login-box li:first-child::after {
  content: '';
  margin: 0 10px;
}

.login-box li:nth-child(2) {
  padding-right: 10px;
}

/* 메뉴 */
.site-menu {
  position: relative;
  width: 100%;
  background: #fff;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #eee;
}

.site-menu > div > ul {
  clear: both;
  margin: 0;
  padding: 0;
  border-left: 1px solid #d7d7d7;
}

.site-menu a {
  color: #000;
  display: block;
  font-weight: 600;
}

.site-menu .menu-depth1 {
  position: relative;
  float: left;
  width: 16.66667%;
  line-height: 55px;
  border-right: 1px solid #d7d7d7;
  margin: 0;
  padding: 0;
}

.site-menu .menu-depth1:first-child {
  border-left: 1px solid #d7d7d7;
}

.site-menu .menu-depth1 a {
  text-align: center;
}

.site-menu .menu-depth2 {
  display: none;
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  background: #eee;
  height: 0;
  overflow: hidden;
  z-index: 1;
}

.site-menu .menu-depth2 a {
  color: #000;
}

.site-menu .menu-depth2 li {
  line-height: 2.4;
}

/* ---------------------------------------------------
// header - active
--------------------------------------------------- */
.site-menu .menu-depth1:hover > a {
  background: #33a6ff;
}

.site-menu .menu-depth1:hover > .menu-depth2 {
  background: yellow;
}

.site-menu:hover .menu-depth2 {
  display: block;
  height: 200px;
  -webkit-animation-name: menuDepth2;
          animation-name: menuDepth2;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

/* ---------------------------------------------------
// menu animate
--------------------------------------------------- */
@-webkit-keyframes menuDepth2 {
  from {
    height: 0;
  }
  to {
    height: 200px;
  }
}
@keyframes menuDepth2 {
  from {
    height: 0;
  }
  to {
    height: 200px;
  }
}

#quick-menu {
  position: fixed;
  top: 270px;
  right: 0;
}

#quick-menu ul {
  padding-left: 0;
}

#quick-menu li {
  list-style: none;
  display: table;
}

#quick-menu li:last-child a {
  border: 0;
  height: auto;
  padding: 5px 0;
}

#quick-menu a {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  text-align: center;
  background: #b1b2b6;
  width: 61px;
  height: 61px;
  border-bottom: 1px solid #d8d9db;
}

/* ---------------------------------------------------
// footer
--------------------------------------------------- */
#footer {
  position: relative;
  background: #34353a;
  color: #55565a;
}

#footer ul,
#footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer a,
#footer address {
  color: #ebecee;
}

#footer button {
  color: #ebecee;
  background: none;
  border: 0;
}

#footer p {
  color: #55565a;
}

.footer-link {
  border-bottom: 1px solid #45464a;
}

.footer-link ul {
  padding-left: 100px;
}

.footer-link ul li {
  display: inline-block;
  line-height: 56px;
  padding: 0 20px !important;
}

.footer-logo {
  position: absolute;
  top: 101px;
  left: 80px;
}

.footer-logo img {
  width: 50%;
}

.footer-copy {
  padding-top: 45px;
  padding-left: 200px;
  padding-bottom: 45px;
}

.footer-copy span,
.footer-copy p {
  line-height: 1.8;
}

.footer-copy p {
  padding-top: 10px;
}

/* main */
.container-main .main-visual .slick-dots {
  position: relative;
  top: -90px;
}

.container-main .main-visual .slick-dots li button:before {
  font-size: 35px;
}

.container-main .main-visual .slider-paging {
  position: absolute;
  top: 264px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

.container-main .main-visual .slider-paging .slider-prev {
  position: absolute;
  top: 0;
  left: 90px;
}

.container-main .main-visual .slider-paging .slider-next {
  position: absolute;
  top: 0;
  right: 90px;
}

.container-main .cateogory-container {
  position: relative;
  top: -84px;
  width: 1180px;
  height: 330px;
  margin: 0 auto;
  background: #fff;
}

.container-main .cateogory-container > div {
  float: left;
}

.container-main .cateogory-container .ctg-notice {
  width: 590px;
  height: 54px;
  background: pink;
}

.container-main .cateogory-container .ctg-notice strong {
  display: inline-block;
  vertical-align: top;
}

.container-main .cateogory-container .ctg-notice strong:after {
  content: '';
  margin-left: 10px;
}

.container-main .cateogory-container .ctg-notice ul {
  display: inline-block;
}

.container-main .cateogory-container .ctg-service {
  width: 590px;
  height: 54px;
  background: #11afde;
  color: #fff;
}

.container-main .cateogory-container .ctg-maintenance {
  width: 393.33333px;
  height: 254px;
  background: #0065b3;
}

.container-main .cateogory-container .ctg-maintenance a {
  color: #fff;
}

.container-main .cateogory-container .ctg-event {
  width: 393.33333px;
  height: 254px;
}

.container-main .cateogory-container .ctg-shop {
  width: 393.33333px;
  height: 254px;
  background: #e5e8ef;
}

.box-container {
  width: 500px;
  padding: 60px 40px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #c4c4c4;
}
