
/* ---------------------------------------------------
// quick menu
--------------------------------------------------- */
#quick-menu{
    position:fixed;
    top:50%;
    transform: translateY(-50%);
    right:0;
    z-index:10;

    ul
    {
        padding-left:0;
    }
    li{
        list-style:none;
        display: table;
        &:last-child a{
            border:0;
            height:auto;
            padding:5px 0;
            }        
    }
    a{
        display: table-cell;
        vertical-align: middle;
        color:#fff;
        text-align:center;
        background:#b1b2b6;
        width:61px;
        height:61px;
        font-size:13px;
        border-bottom:1px solid #d8d9db;

    }
    .svc-tel{
        font-size:16px;
        font-family: 'ebold';
    }
    .svc-reg{
        color:#696969;
        background: #fff url('../images/icon-car.png') center 16px no-repeat;
        padding-top:40px;
        border-bottom:1px solid #fff;        
        font-size:12px;
        font-family: 'ebold';
    }
    .svc-list{
        height:80px;
        color:#696969;
        background: #fff url('../images/icon-paper.png') center 16px no-repeat;
        padding-top:40px;      
        font-size:12px;
        font-family: 'ebold';
     }
     .btn-top{
         font-family: bold;
     }
}