/*---------------------------------------------------
// category : company
--------------------------------------------------- */

// 공통적으로 적용될 내용
.company-section {
    vertical-align: top;
    padding-top: 50px;
    padding-bottom: 50px;

    p {
        font-size: 15px;
        line-height: 1.5;
    }

    h2 {
        padding-bottom: 30px;
        font-size: 25px;
        font-weight: bold;
        text-align: center;        
    }

    ul,
    dl {
        display: inline-block;        
        font-size: 15px;
        vertical-align: top;        
    }
}

/*---------------------------------------------------
// company
--------------------------------------------------- */

// 회사 소개
.co-info {
    img {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

// 회사 서비스
.co-service {
    background: url('/contents/images/company/company-bg1.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;
    .item {
        position: relative;
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 290px;
        border-top: 1px solid #335b7d;
    }
    strong {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 280px;
        text-align: center;
    }
    ul {
        width: 220px;
        padding-right: 30px;
    }
    li {
        padding-bottom: 15px;
        line-height: 1.5;
        letter-spacing: -1px;        
        list-style-type: disc; //list-style-position: inside;
    }    
}

// 회사 시스템
.co-system {
    height: 840px;
    background: url('/contents/images/company/system-img.png') center center no-repeat;
    dl {
        position: relative;
        width: 500px;
        height: 280px;
        margin: 0;
        padding-top: 60px;
        padding-left: 200px;
        float: left;
        img {
            position: absolute;
            top: 0; //display:none;
        }
    }
    dl:nth-child(2n) {
        padding-left: 0px;
    }
    dt {
        padding-bottom: 10px;
    }    
    dd {
        display: list-item;
        margin-left: 20px;        
        line-height: 1.8;
        letter-spacing: -1px;
        list-style-type: disc; //list-style-position: inside;        
    }    
    strong {
        display: block;
        color: #0066b4;
    }
}

.co-portfolio {
    background: url('/contents/images/company/company-bg2.jpg') center center no-repeat;
    color: #fff;
    h2 {
        color: #2b2b2b;
    }
    .dl-group {
        vertical-align: top;
        display: inline-block;
        width: 49%;
        padding-left: 54px;
    }
    .dl-group:nth-child(2) {
        padding-left: 0;
        padding-right: 60px;
    }
    dl {
        display: block;
    }
    dt {
        color: #0066b4;
    }
    dd {
        display: list-item;
        margin-left: 20px;        
        line-height: 1.8;
        letter-spacing: -1px;
        list-style-type: disc; //list-style-position: inside;        
    }    
}

.co-exc {
    .item {
        position:relative;
        vertical-align: top;
        border: 1px solid #dcdcdc;
        display: inline-block;
        width: 470px;
        height: 250px;
        margin: 10px;
        padding: 30px;
    }
    .profile-img {
        position:absolute;
        top:32px;
        left:34px;
        width: 96px;
        height: 96px;
        background: url('/contents/images/company/profile-img.jpg') center center no-repeat;
    }     
    .desc{
        padding-left:126px;
        span{
            &::before {
                content: '';
                @extend %sp-bar;
                margin: 0 10px;
                top:2px;
                background-color:#e5e5e5;
                height:15px;
              }
        }
    }
    ul{
        padding-top:15px;
        padding-bottom:15px;
    }
    li {
        list-style: none;
    }
    p {
        font-size: 15px;
        font-weight: bold;
        line-height: 1;
    }
   
}

.co-partners {
    border:1px solid green;
    //height:686px;
    background: url('/contents/images/company/company-bg3.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;
    strong{
        display:block;
        border-bottom:1px solid #5f6c80;
        padding-bottom:15px;
        font-size:18px;
    }
    ul{
        width:225px;
        height:200px;
        padding-top:20px;

    }
    li{
        line-height:1.8;
        list-style: none;
        letter-spacing: -1px;        
    }
    .group{
        vertical-align:top;
        display:inline-block;
        padding-right:40px;
        padding-bottom:30px;
    }
    .group-big{
        padding-right:0;
    }
}

.co-contanct {
    .inner{
        border:1px solid #e5e5e5;
        text-align: center;
    }
    strong{
        display:inline-block;
        padding-top:30px;
        padding-bottom:30px;
        font-size:18px;
        &::before {
            content: '';
            @extend %sp-bar;
            margin: 0 40px;
            background-color:#e5e5e5;
            height:15px;
            top:2px;
        }

        &:first-child::before {
          content: '';
          width:0;
          margin:0;
        }        
    }
}

/*---------------------------------------------------
// greeting
--------------------------------------------------- */
// 대표 인사말
.co-greeting {
    width:997px;
    margin:0 auto;
    padding:0 50px;

    img {
        padding-bottom: 50px;
        margin-left:-50px;
    }
    strong{
        color:#0066b4;
        //letter-spacing: 1px;
    }
    p{
        padding-bottom:16px;
    }
    
}