/*---------------------------------------------------
// category : company
--------------------------------------------------- */

// 공통적으로 적용될 내용
.company-section {
    vertical-align: top;
    padding-top: 25px;
    padding-bottom: 25px;

    @media screen and (min-width: #{$tab_size}) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    p {
        font-size: 15px;
        line-height: 1.5;

        @media screen and (min-width: #{$tab_size}) {
            font-size: 18px;
        }
    }

    h2 {
        padding-bottom: 15px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;

        @media screen and (min-width: #{$tab_size}) {
            padding-bottom: 30px;
            font-size: 25px;
        }
    }

    ul,
    dl {
        display: inline-block;
        font-size: 13px;
        vertical-align: top;

        @media screen and (min-width: #{$tab_size}) {
            font-size: 15px;
        }
    }
}

/*---------------------------------------------------
// company
--------------------------------------------------- */

// 회사 소개
.company-section-info-img {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;

    @media screen and (min-width: #{$tab_size}) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.company-section-info-img-m {
    width: 100%;
    max-width: fit-content;
}

.company-section-info-img-w {
    display: none;
}

@media screen and (min-width: #{$web_size}) {
    .company-section-info-img-m {
        display: none;
    }

    .company-section-info-img-w {
        display: block;
    }
}


// 회사 서비스
.company-section-service {
    background: #00305c url('/contents/images/company/company-bg1-m.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;

    //text-align:center;
    @media screen and (min-width: #{$tab_size}) {
        background-image: url('/contents/images/company/company-bg1.jpg');
    }
}

.company-section-service-item {
    position: relative;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: 1px solid #335b7d;
    width: 100%;

    @media screen and (min-width: #{$tab_size}) {
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 290px;
    }

}

.company-section-service-item-title {
    display: block;
    text-align: center;
    padding-bottom: 30px;
    font-size: 15px;

    br {
        display: none;
    }

    @media screen and (min-width: #{$tab_size}) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 280px;
        padding-bottom: 0;
        font-size: 18px;

        br {
            display: block;
        }
    }
}

.company-section-service-item-con {
    //width: 49%;
    //    width: 100%;
    //padding-left: 20px;

    li {
        vertical-align: top;
        display: inline-block;
        width: 49%;
        padding-bottom: 15px;
        line-height: 1.5;
        letter-spacing: -1px;
        //  list-style-type: disc; //list-style-position: inside;
        text-align: left;
        padding-left: 13px;
        text-indent: -13px;

        @media screen and (min-width: #{$web_size}) {
            width: 32.9%;
        }
    }

    // @media screen and (max-width: #{$mob_size}) {
    //     width: 100%;
    // }

    @media screen and (min-width: #{$tab_size}) {
        // width: 240px;
        // padding-right: 10px;
    }

    @media screen and (min-width: #{$web_size}) {
        // width: 220px;
        // padding-right: 30px;

    }
}


// 회사 시스템
.co-system {
    background: url('/contents/images/company/system-cycle-img.png') center 90px no-repeat;
    background-size: 272px;

    h2 {
        margin-bottom: 320px;
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    @media screen and (min-width: #{$tab_size}) {
        background-position-y: 120px;
    }

    @media screen and (min-width: #{$web_size}) {
        height: 840px;
        background-image: url('/contents/images/company/system-cycle-bg.png');
        background-position-y: 130px;
        background-size: 993px 561px;

        h2 {
            margin-bottom: 0;
        }

        .content-zone {
            height: 100%;
            background: url('/contents/images/company/system-cycle-img.png') center 145px no-repeat;
            background-size: 374px;
        }
    }



    dl {
        position: relative;
        margin: 0;
        padding-left: 80px;
        padding-bottom: 20px;
        width: 100%;
        float: left;

        img {
            position: absolute;
            top: 0; //display:none;


            @media screen and (max-width: #{$web_size}) {
                left: 0;
            }
        }


    }

    dt {
        padding-bottom: 10px;
    }

    dd {
        //display: list-item;
        //margin-left: 20px;
        text-indent: -12px;
        line-height: 1.8;
        letter-spacing: -1px;
        //list-style-type: disc; //list-style-position: inside;        
    }

    strong {
        display: block;
        color: #0066b4;
    }

    @media screen and (min-width: #{$web_size}) {
        dl {
            width: 50%;
            height: 280px;
            padding-top: 60px;
            padding-left: 200px;

        }

        dl:nth-child(2n) {
            padding-left: 0px;
        }
    }
}

.co-portfolio {
    background: url('/contents/images/company/company-bg2-m.jpg') repeat-y;
    background-size: cover;
    color: #fff;

    @media screen and (min-width: #{$tab_size}) {
        background-image: url('/contents/images/company/company-bg2.jpg');
        background-repeat: no-repeat;
    }

    h2 {
        color: #2b2b2b;
    }

    .dl-group {
        vertical-align: top;
        display: inline-block;
    }

    dl {
        display: block;
    }

    dt {
        color: #0066b4;
    }

    dd {
        //display: list-item;
        margin-left: 10px;
        text-indent: -13px;
        line-height: 1.8;
        letter-spacing: -1px;
        //list-style-type: disc; //list-style-position: inside;        
    }

    @media screen and (min-width: #{$tab_size}) {
        .dl-group {
            width: 49%;
            padding-left: 54px;
        }

        .dl-group:nth-child(2) {
            padding-left: 0;
            padding-right: 60px;
        }
    }
}

.co-exc {
    .item {
        position: relative;
        vertical-align: top;
        border-bottom: 1px solid #dcdcdc;



        @media screen and (min-width: #{$tab_size}) {
            display: inline-block;
            border: 1px solid #dcdcdc;
            width: 470px;
            height: 250px;
            margin: 10px;
            padding: 30px;
        }
    }

    .profile-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 96px;
        height: 96px;
        background: url('/contents/images/company/profile-img.jpg') center center no-repeat;

        @media screen and (min-width: #{$tab_size}) {
            top: 32px;
            left: 34px;
        }
    }

    .desc {
        padding-left: 106px;

        span {
            &::before {
                content: '';
                @extend %sp-bar;
                margin: 0 10px;
                top: 2px;
                background-color: #e5e5e5;
                height: 15px;
            }
        }

        @media screen and (min-width: #{$tab_size}) {
            padding-left: 126px;
        }
    }


    ul {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;

    }

    li {
        list-style: none;
    }

    p {
        font-size: 15px;
        font-weight: bold;
        line-height: 1;
        display: inline;

        @media screen and (min-width: #{$tab_size}) {
            display: block;
        }
    }

}

.co-partners {
    //height:686px;
    background: url('/contents/images/company/company-bg3.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;

    strong {
        display: block;
        border-bottom: 1px solid #5f6c80;
        padding-bottom: 15px;
        font-size: 18px;
    }

    ul {
        display: block;
        width: 100%;

        // @media screen and (min-width: #{$tab_size}) {
        //     width:32.333%;
        // }
        @media screen and (min-width: #{$web_size}) {
            display: inline-block;
            width: 225px;
            height: 200px;
            padding-bottom: 0px;
        }

    }

    li {
        display: inline-block;
        width: 49%;
        line-height: 1.8;
        list-style: none;
        letter-spacing: -1px;

        @media screen and (min-width: #{$tab_size}) {
            display: block;
            width: 100%;
        }
    }

    .group {
        vertical-align: top;

        @media screen and (min-width: #{$tab_size}) {
            display: inline-block;
            width: 32.333%;
        }

        @media screen and (min-width: #{$web_size}) {
            width: auto;
            padding-right: 40px;
            padding-bottom: 30px;
        }
    }

    .group-big {
        padding-right: 0;
        display: inline-block;

        @media screen and (min-width: #{$tab_size}) {
            ul {
                width: 50%;
                height: auto;
            }
        }

        @media screen and (min-width: 1040px) {
            ul {
                width: 225px;
            }
        }
    }
}

.co-contanct {
    .inner {
        border: 1px solid #e5e5e5;
        text-align: center;
    }

    strong {
        display: inline-block;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 18px;

        &::before {
            content: '';
            @extend %sp-bar;
            margin: 0 40px;
            background-color: #e5e5e5;
            height: 15px;
            top: 2px;
        }

        &:first-child::before {
            content: '';
            width: 0;
            margin: 0;
        }
    }
}

/*---------------------------------------------------
// greeting
--------------------------------------------------- */
// 대표 인사말
.co-greeting-img {
     width: 100%;
     max-width: 997px;
     text-align: center;
     img {
        width: 100%;
     }

    @media screen and (min-width: #{$tab_size}) {
        // padding-bottom: 50px;
        // margin-left: -50px;
    }        
}
.co-greeting {
    width: 100%;

    max-width: 997px;
    margin: 0 auto;

    @media screen and (min-width: #{$tab_size}) {
        //padding: 0 50px;
    }    



    strong {
        color: #0066b4;
        //letter-spacing: 1px;
    }

    p {
        padding-bottom: 16px;
    }

}