/*---------------------------------------------------
// event
--------------------------------------------------- */
.thumb-list{
    width:1024px;
    position:relative;
    left:-12px;
    min-height:600px;

    li{
        float:left;
        padding:12px;
    }
    a{
        width:316px;
        display:block;
        border:1px solid #e5e5e5;
        color: inherit;
    }
    .thumb-info{
        padding:15px;
    }
    p{
        //color:#000;
        margin-bottom:0;
    }
    span{
        font-size:14px;
        color:#999999;
    }
}