/* ---------------------------------------------------
// main
--------------------------------------------------- */
.container-main {
    .main-visual {
        height: 472px;
        min-width: 1200px;

        .visual-item a {
            width: 100%;
            min-width: 1000px;
            height: 472px;
            background-position: center;
            background-size: cover;
            display: inline-block;
        }

        .slick-dots {
            position: relative;
            top: -135px;
        }

        .slick-dots li {
            margin: 0 2px;
        }

        .slick-dots li button:before {
            font-size: 40px;
            //color: #575757;
            color: #9e9e9e;
            opacity: 1;
        }

        .slick-dots li.slick-active button:before {
            opacity: 1;
            color: #fff;
        }

        .slider-paging {
            position: absolute;
            top: 140px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;

            button {
                background: none;
                border: 0;
            }

            .slider-prev {
                position: absolute;
                top: 0;
                right: 90%;
            }

            .slider-next {
                position: absolute;
                top: 0;
                left: 90%;
            }
        }

        .visual-text {
            width: 100%;
            height: 80%;
            display: table;
            text-align: center;
            color: #fff;
            font-size: 18px;

            &-inner {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                height: 390px;
            }

            strong {
                font-weight: bold;
                font-size: 200%;
                display: inline-block;
                margin-bottom: 14px;
            }
        }

    }

    .main-content {
        position: relative;
        top: -84px;
        width: 1180px;
        height: 330px;
        margin: 0 auto;

        &>div {
            float: left;
        }

        .notice {
            position: relative;
            width: (1180/3)*2+px;
            padding-left: 34px;
            height: 54px;
            line-height: 53px;
            overflow: hidden;
            background: #fff;

            strong {
                display: inline-block;
                vertical-align: top;
                line-height: 55px;
                font-size: 15px;
                font-family: bold;

                &:after {
                    content: '';
                    @extend %sp-bar;
                    margin-left: 15px;
                    margin-right: 10px;
                }
            }

            ul {
                display: inline-block;
                width: 630px;
                z-index: 2;
            }

            li {
                width: 100%;
                position: relative;
            }

            a {
                color: #1a1a1a;
            }

            i {
                margin-left: 6px;
            }

            span {
                position: absolute;
                top: 0px;
                right: 13px;
            }

            .notice-paging {
                position: absolute;
                top: 0;
                right: 0;
                height: 55px;

                .notice-prev {
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                .notice-next {
                    position: absolute;
                    top: 27px;
                    right: 0;
                }
            }

            button {
                background: none;
                border: 0;
                padding: 0;
                border: 1px solid #d1d1d1;
                height: 28px;
                overflow: hidden;

                img {
                    //width:20px;
                    //height:20px;

                    background: gray;
                }
            }

        }

        .service {

            width: (1180/3)+px;
            padding-top: 4px;
            padding-left: 42px;
            height: 54px;
            background: #11afde;
            color: #fff;

            strong {
                padding-top: 4px;
                padding-right: 16px;
                float: left;
                font-size: 15px;
                font-family: bold;
            }

            p {
                float: left;
                letter-spacing: -1px;
                line-height: 1.2;
            }

            em {
                font-size: 22px;
                font-style: normal;
                letter-spacing: 0;
                font-family: bold;
            }

            span {
                font-size: 14px;
                letter-spacing: 0;
                padding-left: 2px;
                font-weight: bold;
            }
        }

        .ctg {
            padding-top: 24px;
            text-align: center;

            strong {
                font-size: 23px;
                line-height: 1.8;
                font-family: bold;

            }
        }

        .ctg-sv {
            position: relative;
            width: (1180/3)+px;
            height: 254px;
            background: #0065b3 url('../images/main/ctg-sv-bg.png') center bottom no-repeat;

            a {
                color: #fff;
                display: block;
                height:100%;                
            }
        }

        .ctg-event {
            position: relative;
            border-top: 1px solid #e2e2e2;
            width: (1180/3)+px;
            height: 254px;
            background: #fff;

            .event-banner {
                padding-top: 24px;
                margin-left: 15px;
                width: 364px;
                overflow: hidden;

                .slick-dots {
                    position: relative;
                    top: -166px;
                    text-align: right;
                }

                .slick-dots li {
                    padding: 0;
                    margin: 0;
                }

                .slick-dots li button:before {
                    font-size: 40px;
                    color: #9e9e9e;
                    opacity: 1;
                }

                .slick-dots li.slick-active button:before {
                    color: #0066b4;
                    opacity: 1;
                }

                img {
                    width: 100%;
                }

            }
        }

        .ctg-faq {
            width: (1180/3)+px;
            height: 254px;
            background: #e5e8ef url('../images/main/ctg-faq-bg.png') center bottom no-repeat;

            a {
                color: #1a1a1a;
                display: block;
                height:100%;
            }
        }
    }
}