/* main */
//---------------------------------------------------
// main
//---------------------------------------------------
.container-main {
    .main-visual {
        .slick-dots {
            position: relative;
            top: -90px;
        }

        .slick-dots li button:before {
            font-size: 35px;
        }

        .slider-paging {
            position: absolute;
            top: 264px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;

            .slider-prev {
                position: absolute;
                top: 0;
                left: 90px;
            }

            .slider-next {
                position: absolute;
                top: 0;
                right: 90px;
            }
        }
    }

    .cateogory-container {
        position:relative;
        top:-84px;
        width:1180px;
        height:330px;
        margin:0 auto;
        background:#fff;

        &>div{
            float:left;
        }
        .ctg-notice {
         width:(1180/2)+px;  
         height:54px;
         background:pink;

         strong{
            display:inline-block;
            vertical-align:top;
             &:after{
            content: '';
            @extend %sp-bar;
            margin-left: 10px;
          }   
        }
        ul{
            display:inline-block;
        }      
        }

        .ctg-service {
            width:(1180/2)+px;
            height:54px;
            background: #11afde;
            color: #fff;
        }

        .ctg-maintenance {
            width:(1180/3)+px;
            height:254px;
            background: #0065b3;
            a{
                color: #fff;
            }
        }

        .ctg-event {
            width:(1180/3)+px;
            height:254px;
        }

        .ctg-shop {
            width:(1180/3)+px;
            height:254px;
            background: #e5e8ef;
        }
    }
}