/*---------------------------------------------------
// category : sitemap
--------------------------------------------------- */

.sitemap {
    .content-zone {
//        width: 1036px;
    }

    .menu-depth1 {
        display: inline-block;
        vertical-align: top;
        width: 24.5%;
        padding: 2rem 0 5rem 0;

        &>a {
            text-align: center;
            display: block;
            background: #0066b4;
            color: #fff;
            font-size: 1.8rem;
            padding: 1rem 0;
            margin: 1.5rem;
            margin-bottom: 2.4rem;
        }

    }

    .menu-depth2 {
        li {
            padding-left: 1.5rem;
            padding-bottom:1.5rem;
        }

        a {
            font-size: 1.8rem;
            color: #000;

            &::before {
                content: ' - ';
                display: inline-block;
                margin-right: 1rem;
            }
        }
    }
}