/*--------------------------------------------------- */
/* category : sitemap */
/* --------------------------------------------------- */
.sitemap-menu-depth1 {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 0;
  vertical-align: top;

  @media screen and (min-width: #{$mob_size}) {
    width: 49.5%;
    padding: 20px 0 50px 0;
  }

  @media screen and (min-width: 640px) {
    width: 32.3333%;
  }

  @media screen and (min-width: #{$tab_size}) {
    width: 24.5%;
  }
}

.sitemap-menu-depth1-item {
  display: block;
  margin: 7px 7px 12px 7px;
  padding: 10px 0;
  background: #0066b4;
  color: #fff !important;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media screen and (min-width: #{$tab_size}) {
    margin: 15px 15px 24px 15px;
    font-size: 18px;
  }
}

.sitemap-menu-depth2 {
  overflow: initial;
  position: relative;
  top: unset;
  left: 0;
  width: 100%;
}

.sitemap-menu-depth2-item {
  padding-left: 15px;
  padding-bottom: 15px;
}

.sitemap-menu-depth2-item a {
  color: #000 !important;
  font-size: 14px;

  &::before {
    content: ' - ';
    display: inline-block;
    margin-right: 10px;
  }

  @media screen and (min-width: #{$tab_size}) {
    font-size: 18px;
  }
}
