//---------------------------------------------------
// a11y-hidden
//---------------------------------------------------

.a11y-hidden {
	position: absolute;
	top: auto;
	left: -9999em;
	overflow: hidden;
	margin: -1px;
	width: 1px;
	height: 1px;
}

// for include
%a11y-hidden {
	position: absolute;
	top: auto;
	left: -9999em;
	overflow: hidden;
	margin: -1px;
	width: 1px;
	height: 1px;
}