//---------------------------------------------------
// prefix

//---------------------------------------------------

// usage
//.selector {
//	@include prefix(transform, rotate(45deg));
//}

//@mixin prefix($declarations, $prefixes: ()) {
//	@each $property, $value in $declarations {
//		@each $prefix in $prefixes {
//			#{'-' + $prefix + '-' + $property}: $value;
//		}
//		#{$property}: $value;
//	}
//}

// vendor frefix
@mixin prefix($property, $value:(), $prefixes:()) {
	$prefixes:(webkit moz ms o);
	@each $prefix in $prefixes {
		#{'-' + $prefix + '-' + $property}: $value;
	}
	#{$property}: $value;
}
