//---------------------------------------------------
// variables
//---------------------------------------------------

//location
$location: '../../../Images/KittyJusticeLeague/';

@if $device == web { 
    $location: '../../../Images/KittyJusticeLeague/w/';
    $width: 1000px;

} @else {
    $location: '../../../Images/KittyJusticeLeague/m/';
    $width: 640px;
}