@charset 'UTF-8'; 

$device: 'web';

//---------------------------------------------------
// base setting
//---------------------------------------------------
@import "base/base";
@import "base/font";
@import "base/vendor";

//---------------------------------------------------
// utils
//---------------------------------------------------
@import "utils/variables";
@import "utils/mixin";
@import "utils/prefix";
@import "utils/a11y-hidden";

//---------------------------------------------------
// effect
//---------------------------------------------------
//@import "effect/animate";
//@import "effect/effect-shine";
//@import "effect/effect-particle";
//@import "effect/effect";

//---------------------------------------------------
// component style
//---------------------------------------------------
@import "component/btn";
@import "component/glyphicon";
@import "component/pagination";
@import "component/form-group";
@import "component/table&list";
@import "component/typography";
@import "component/paragraph";

//---------------------------------------------------
// site common layout
//---------------------------------------------------
@import "layout/layout";
@import "layout/header";
@import "layout/quickmenu";
@import "layout/footer";
@import "layout/popup";

//---------------------------------------------------
// pages
//---------------------------------------------------
@import "pages/main";
@import "pages/member";
//@import "pages/page";
//@import "pages/popup";


//---------------------------------------------------
// base (end)
//---------------------------------------------------
//@import "utils/loop-class";