//---------------------------------------------------
// btn
//---------------------------------------------------
.site-wrapper{
    .btn{
        border-radius: 0;
    }
    // size
    .btn-wide{
        width:100%;
    }
    // color
    .btn-default{
        background:#b0b2b5;
        border:1px solid #b0b2b5;
        color:#fff;
    }
    .btn-primary{
        background:#0065b3;
        border:1px solid #0065b3;
    }
    .btn-success{
        background:inherit;
    }
    .btn-info{
        background:#79838c; 
        border:1px solid #79838c;
    }
    .btn-warning{
        background:inherit;
    }
    .btn-danger{
        background:inherit;
    }
    .btn-white{
        background:#fff;
        border:1px solid #cccccc;
        color:#575757;
        &.active{
            background:#0065b3;
            border:1px solid #0065b3;
            color:#fff;
        }
    }
    .btn-black{
        background:#4c4c4c;
        border:1px solid #4c4c4c;
        color:#fff;
    } 

}

//---------------------------------------------------
// group
//---------------------------------------------------
.btns-group {
    text-align: right !important;

    button,
    a {
        padding: 10px 40px;
        margin: 0 2px;
    }
}