/* form */

form strong {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #2b2b2b;
    font-family: 'ng';
    font-size: 14px;
    font-weight: 500;

    span {
        color: #0066b4;
    }

    @media screen and (min-width: #{$tab_size}) {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px;
    }
}

form em {
    display: block;
    color: #999999;
    font-style: normal;

    @media screen and (min-width: #{$tab_size}) {
        display: inline-block;
        margin-left: 30px;
    }
}

select {
    height: 38px !important;
    margin: 0 !important;
    //padding: 3px 3px 3px 12px !important;
    padding: 3px 12px;
    border: 1px solid #dcdcdc !important;
    border-radius: 0 !important;
    font-size: 16px !important;
    line-height: 32px !important;
    box-shadow: 0 0 0 !important;
}

textarea {
    width: 100% !important;
    padding: 3px 12px;
    border: 1px solid #dcdcdc !important;
    border-radius: 0 !important;
    font-size: 16px !important;
    box-shadow: 0 0 0 !important;
}

// ios 기본 스타일 초기화
// input[type=text],
// input[type=button],
// input[type=checkbox],
// input[type=radio],
// textarea {
//     -webkit-appearance: none;
//     appearance: none;
//     border-radius: 0;
// }

input[type=text],
input[type=email],
input[type=tel],
input[type=password] {
    width: 100%;
    height: 38px !important;
    padding: 3px 12px;
    border: 1px solid #dcdcdc !important;
    border-radius: 0 !important;
    font-size: 16px !important;
    line-height: 32px !important;
    box-shadow: 0 0 0 !important;

    @media screen and (min-width: #{$tab_size}) {
        width: auto;
    }
}

.form-group span {
    display: inline-block;
    width: auto;
    height: 38px;
    padding: 3px;
    //border: 1px solid #fff;
    font-size: 16px;
    line-height: 32px;
    vertical-align: middle;
}

form .checkbox-inline,
form .radio-inline {
    font-family: bold;
}

.form-inline .form-group {
    display: block;
    position: relative;
    margin-bottom: 0;

    @media screen and (min-width: #{$tab_size}) {
        display: inline-block;
        vertical-align: middle;
    }
}

.form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;

    @media screen and (min-width: #{$tab_size}) {
        width: auto;
    }
}

//---------------------------------------------------
// checkbox, radio img on & off
//---------------------------------------------------
// for label img check
img {
    pointer-events: none;
}

.checkbox,
.checkbox-inline {
    height: 24px;
    padding-left: 30px;
}

.radio,
.radio-inline {
    height: 24px;
    padding-left: 30px;
}

.icon-checkbox {
    position: absolute;
    top: 0px;
    left: 0;
    width: 24px;
    height: 24px;
    background: #fff;
    background-size: 100%;
}

.icon-radio {
    position: absolute;
    top: -2px;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fff;
}

input[type=checkbox] {
    position: relative;
    line-height: 100%;
    vertical-align: top;
    transform: scale(1.3);
    opacity: 0.0001;

    &+.icon-checkbox {
        border: 1px solid #cdcdcd;
    }

    &:checked+.icon-checkbox {
        border: 1px solid #cdcdcd;
        background: #fff url("../images/form/icon-check.png") no-repeat center center;
        background-size: 100%;
    }
}

input[type=radio] {
    line-height: 100%;
    vertical-align: top;
    transform: scale(1.3);
    opacity: 0.0001;

    &+.icon-radio {
        border: 1px solid #cdcdcd;
    }

    &:checked+.icon-radio {
        border: 1px solid #cdcdcd;
        background: #fff url("../images/form/icon-radio.png") no-repeat center center;
        background-size: 100%;
    }
}

//---------------------------------------------------
// selectbox
//---------------------------------------------------
// selectbox
// select option {
//     color: #000;
//     background: #fff;

//     &:first-child {
//         color: #000;
//     }
// }


//---------------------------------------------------
// custom
//---------------------------------------------------

// policy box
.policy-doc {
    overflow: auto;
    height: 120px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #dcdcdc;
    font-size: 16px;
    line-height: 32px;
}

// email @
.form-email {
    position: relative;

    .form-control {
        width: 90%;
        margin-bottom: 10px;
    }

    &:after {
        position: absolute;
        content: '@';
        top: 50%;
        right: 0;
        color: #000;
        font-style: normal;
        font-size: 15px;
        transform: translateY(-50%);
    }

    @media screen and (min-width: #{$tab_size}) {
        .form-control {
            margin-bottom: 0;
        }
    }
}

// 전화번호
.form-inline .form-input-tel {
    width: 29%;

    @media screen and (min-width: #{$tab_size}) {
        width: 100px;
    }
}

// 주소
.form-address {
    //width: 600px;
    display: block !important;

    input {
        width: 100% !important;
    }
}

//---------------------------------------------------
// placeholder
//---------------------------------------------------

// Chrome/Opera/Safari
::-webkit-input-placeholder {
    color: #000 !important;
}

// Firefox 19+
::-moz-placeholder {
    color: #000 !important;
}

// IE 10+
:-ms-input-placeholder {
    color: #000 !important;
    line-height: 1 !important;
}

// Firefox 18-
:-moz-placeholder {
    color: #000 !important;
}

//---------------------------------------------------
// daum api등의 iframe요소에 스크롤이 들어갈때
//---------------------------------------------------
// .pop-post {
//     .pop-con {
//         -webkit-overflow-scrolling: touch;
//     }
// }

//---------------------------------------------------
// search-box
//---------------------------------------------------
.search-box {
    padding-bottom: 20px;
    text-align: right;

    input,
    select {
        height: 34px !important;
        line-height: 34px !important;
    }

    input {
        width: 120px !important;
    }

    input,
    select,
    button,
    a {
        margin-right: 3px !important;
    }
}