/* glyphicon / deco */
 
//---------------------------------------------------
// 우측 세로바
//---------------------------------------------------
%sp-bar {
    display: inline-block;
    width:1px;
    height:10px;
    //margin:0 6px 0 12px;
    background:#7b7b7b;
}
.sp-bar{
    display: inline-block;
    width:1px;
    height:10px;
    //margin:0 6px 0 12px;
    background:#7b7b7b;
}
//---------------------------------------------------
// 
//---------------------------------------------------

