/* table */

table {
  min-width: 1000px;
  border-bottom: 1px solid #ddd;


  th {
    width: 190px;
    background: #f3f3f3;
    font-size: 16px;
    height: 60px;
    line-height: 1.5 !important;

    label {
      font-weight: normal;
      vertical-align: middle;
      margin: 0;
      margin-top: 10px;
      margin-left: 14px;
    }
  }

  td {
    font-size: 16px;
    height: 60px;
    padding-top: 10px !important;
    vertical-align: middle;
  }
}

.table-list {
  margin-bottom:30px;
  th {
    width: auto;
    background-color: #e5e8ef;
    text-align: center;
    font-family: 'bold';
    //font-weight: 500;    
  }

  td {
    border-bottom: 1px solid #e5e8ef;
    text-align: center;
    vertical-align: middle;
    padding-top: 0 !important;
  }
}

/* dl.list-view */
.list-view{
  dt{
    position:relative;
    width: auto;
    height:60px;
    line-height:60px;
    padding-left:20px;
    background-color: #e5e8ef;
    font-family: 'bold';
    span{
      position:absolute;
      top:0;
      right:20px;
      color:#999999;
    }   
  }
  dd{
    padding:50px;
  }
}


/* ul.list-paging */
.list-pager{
  border-top:1px solid #e5e5e5;
  line-height:60px;
  padding-bottom:30px;
  li{
    position:relative;
    border-bottom: 1px solid #e5e5e5;
    padding-left:20px;
    padding-right:20px;
    font-size:18px;
    span{
      padding-left:20px;
      padding-right:20px;
      font-size:15px;
    }
    .date{
      position:absolute;
      top:0;
      right:0;
      color:#999999;
    }      
  }
}